.home{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.card{
    width: 520px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #001122;
    color:white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 62px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px 10px 62px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 62px 0px rgba(0,0,0,0.25);
}

.card h2{
    margin-bottom: 20px;
    width: 213px;
    align-items: first baseline;
}

.stats{
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}
