/* General reset for consistent styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set a dark mode background and text color */
  body {
    background-image: url( 'blurry-gradient-haikei.svg' );
    color: #ffffff; /* White text */
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Center container for content */
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  